.mediaViewInfo {
	--web-view-name: Mask pack akame;
	--web-view-id: Mask_pack_akame;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
}

:root {
	--web-view-ids: Mask_pack_akame;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Mask_pack_akame {
	position: absolute;
	width: 1920px;
	height: 2134px;
	font-family: UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
	--web-view-name: Mask pack akame;
	--web-view-id: Mask_pack_akame;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
}

@keyframes fadein {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

#text_gk {
	position: absolute;
	width: 1158px;
	height: 55px;
	left: 63px;
	top: 29px;
	overflow: visible;
}

#BACK_gl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 37px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: masking.html;
	cursor: pointer;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: UTM Neutra, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(230, 171, 23, 1);
}

#HOME_gm {
	left: 140px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 37px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: UTM Neutra, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(230, 171, 23, 1);
}

#DONATE__MB_2001868633333_gn {
	left: 636px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 523px;
	height: 55px;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: UTM Neutra, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(230, 171, 23, 1);
}

#CONTACT_go {
	left: 270px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 37px;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: UTM Neutra, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(230, 171, 23, 1);
}

#MASKING_gp {
	left: 453px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 37px;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: UTM Neutra, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(230, 171, 23, 1);
}

#mask_akame {
	position: absolute;
	width: 1703px;
	height: 1011px;
	left: 109px;
	top: 159px;
	overflow: visible;
}

#Scroll_Group_Preview_gr::-webkit-scrollbar {
	background-color: #1C1B1B;

}

#Scroll_Group_Preview_gr::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10rem;

}

#Scroll_Group_Preview_gr {
	mix-blend-mode: normal;
	position: absolute;
	width: 1703px;
	height: 215px;
	left: 0px;
	top: 796px;
	overflow-x: scroll;
	overflow-y: hidden;
}

#Mask_Group_2_gs {
	position: absolute;
	width: 410px;
	height: 215px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Mask_Group_3_gt {
	position: absolute;
	width: 410px;
	height: 215px;
	left: 431px;
	top: 0px;
	overflow: visible;
}

#Mask_Group_12 {
	position: absolute;
	width: 410px;
	height: 215px;
	left: 1724px;
	top: 0px;
	overflow: visible;
}

#Mask_Group_13 {
	position: absolute;
	width: 410px;
	height: 215px;
	left: 862px;
	top: 0px;
	overflow: visible;
}

#Mask_Group_14 {
	position: absolute;
	width: 410px;
	height: 215px;
	left: 1293px;
	top: 0px;
	overflow: visible;
}

#PREVIEW_gx {
	left: 0px;
	top: 709px;
	position: absolute;
	overflow: visible;
	width: 185px;
	height: 73px;
	text-align: left;
	font-family: Agency FB, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(230, 171, 23, 1);
}

#ti_xung_1 {
	position: absolute;
	width: 1703px;
	height: 512px;
	left: 0px;
	top: 97px;
	overflow: visible;
}

#MASK_PACK_AKAME_GA_KILL {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 622px;
	white-space: nowrap;
	text-align: left;
	font-family: UTM Neo Sans Intel, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(230, 171, 23, 1);
}

#download_g {
	position: absolute;
	width: 207px;
	height: 87px;
	left: 18px;
	top: 508px;
	overflow: visible;
}

#Rectangle_22501_g {
	fill: rgba(0, 0, 0, 1);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_22501_g {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 79px;
	left: 0px;
	top: 0px;
}

#DOWNLOAD {
	left: 23px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 185px;
	height: 73px;
	text-align: left;
	font-family: Agency FB, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(230, 171, 23, 1);
}

#more_pack_g {
	position: absolute;
	width: 1708px;
	height: 301px;
	left: 106px;
	top: 1301px;
	overflow: visible;
}

#MORE_PACK {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 50px;
	text-align: left;
	font-family: Agency FB, UTM Neutra font, Agency FB font, UTM Neo Sans Intel font;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(230, 171, 23, 1);
}

#plugin_g {
	position: absolute;
	width: 369px;
	height: 208px;
	left: 0px;
	top: 93px;
	overflow: visible;
}

#RAW_CUT_g {
	position: absolute;
	width: 370px;
	height: 208px;
	left: 441px;
	top: 93px;
	overflow: visible;
}

#sfx_g {
	position: absolute;
	width: 370px;
	height: 208px;
	left: 894px;
	top: 93px;
	overflow: visible;
}

#overlay_g {
	position: absolute;
	width: 369px;
	height: 208px;
	left: 1339px;
	top: 93px;
	overflow: visible;
}